* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.yellow {
  color: #ffd700;
}

.red {
  color: #ff4500;
}

body {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  text-align: center;
  font-size: 2rem;
}
