*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.yellow {
  color: #ffd700;
}

.red {
  color: #ff4500;
}

header{
    background-color: black;
    color: #FFD700;
    height: 15vh;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: black;
    color: white;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.voltar{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    background-color: #2b2b2b;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(255, 69, 0, 0.3);
}

.voltar:hover {
    transform: scale(1.02);
}

.voltar button{
    border: 1.5px solid #ff4500;
    border-radius: 8px 8px 8px 8px;
    width: 100%;
    padding: 8px;
    background-color: #2B2B2B;
    color: white;

    &:hover{
        background-color: #ff4500;
        transform: scale(1.02);
        color: white;
    }
}

form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    margin: 40px 20px;
    background-color: #2b2b2b;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(255, 69, 0, 0.3);
}


form:hover {
    transform: scale(1.02);
}


form h1{
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #FFD700;
}

form img{
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

form div label{
    margin-bottom: 5px;
    font-weight: 700; 
    color: #FFD700;

}

form div input, textarea, button{
    border: 1.5px solid #FFD700;
    border-radius: 8px 8px 8px 8px;
    width: 100%;
    padding: 8px;
    background-color: #2B2B2B;
    color: white;
}

button:hover{
    background-color: #FFD700;
    transform: scale(1.02);
    color: #2B2B2B;
}

form div input {
    padding: 8px;
}

form div textarea {
    padding: 8px;
    min-width: 100%;
    max-width: 100%;
    max-height: 10rem;
    min-width: 8rem;
}

form div input::placeholder , textarea::placeholder {
    font-size: 0.8rem;
    padding-left: 2px;
    color: white;
}